@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #3C4043;
    box-sizing: border-box;
}

.link {
    font-size: 14px;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    margin: 16px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 16px;
    size: 8px;
}

.container {
    display: flex;
    flex-direction: column;   
    justify-content: center;  
    align-items: center;    
    height: 80vh;            /* take full viewport height */
    text-align: center;       /* center inline content like the image */
}

.search {
    margin: 0 auto;
    width: 100%;
    max-width: 688px;
    padding-top: 6px;
    position: relative;
}

.searchbar {
    display: flex;
    z-index: 3;
    position: relative;
    min-height: 50px;
    background: #fff;
    border: 1px solid #dadce0;
    box-shadow: 0px 3px 10px 0px rgba(31, 31, 31, 0.08);
    border-radius: 26px;
    padding: 16px;
    margin: 0 auto;
    width: 100%;
}

.btn {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    padding: 16px 24px;
    margin-top: 32px;
    border: none;
    color: #3C4043;
    background-color: #F8F9FA;
    border-radius: 10px;
    size: 32px;
}

.btn:hover {
    border: 1px solid #dadce0;
    box-shadow: 0px 3px 5px 0px rgba(31, 31, 31, 0.08);
}


