* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

img {
    width: 240px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 16px;
    size: 8px;
}

.search {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:space-between;
}

.searchbar {
    display: flex;
    z-index: 3;
    position: relative;
    min-height: 50px;
    background: #fff;
    border: 1px solid #dadce0;
    box-shadow: 0px 3px 10px 0px rgba(31, 31, 31, 0.08);
    border-radius: 26px;
    padding: 16px;
    margin: 0 auto;
}

.search-btn {
    padding: 16px 24px;
    border: none;
    color: F8F9FA;
    border-radius: 16px;
    size: 32px;

}

.img-search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

