@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #3C4043;
    box-sizing: border-box;
}

.link {
    font-size: 12px;
    padding: 0px 8px;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    margin: 16px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 16px;
    margin: 8px;
    size: 8px;
}

.container {
    display: flex;
    flex-direction: column;   
    justify-content: center;  
    align-items: center;    
    height: 80vh;  
    text-align: center;       
}

.search {
    margin: 0 auto;
    width: 100%;
    max-width: 688px;
    padding-top: 6px;
    position: relative;
}

.searchbar {
    display: flex;
    z-index: 3;
    position: relative;
    min-height: 50px;
    background: #fff;
    border: 1px solid #dadce0;
    box-shadow: 0px 3px 10px 0px rgba(31, 31, 31, 0.08);
    border-radius: 26px;
    padding: 16px;
    margin: 0 auto;
    width: 100%;
}

.btn {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    padding: 16px 20px;
    margin-top: 32px;
    border: none;
    color: #3C4043;
    background-color: #F8F9FA;
    border-radius: 10px;
    size: 32px;
}

.btn:hover {
    border: 1px solid #dadce0;
    box-shadow: 0px 3px 5px 0px rgba(31, 31, 31, 0.08);
}

h1 {
    font-size: 20px;
    font-weight: normal;
    color: #D83025;
}

h2 {
    font-size: 16px;
    font-weight: normal;
}
 h3 {
    font-size: 12px;
    font-weight: normal;
 }

hr {
    background-color: #F8F9FA;
}

.grid {
  display: grid;
  grid-template-columns: 185px 570px auto;
}

.grid div {
  padding: 10px 0px;
  font-size: 30px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.adv-container {
    display: flex;
    flex-direction: column;   
    height: 80vh;      
}

.adv-heading {
    margin: 20px 40px;
}

.adv-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
}

.adv-search-container {
    display: flex;
    flex-direction: column; 
    align-items: left;
    margin: 20px 20px;
}

input.adv-input {
    padding: 10px;
}

.adv-block {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: flex-start;
}

.adv-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0px;
    width: 50vw;
}

label.adv-label {
    font-size: 12px;
}

.adv-box {
    width: 100%;
    padding: 6px;
    border: 1px solid #dadce0;
}

.adv-example {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 0px 0px 10px;
}

.bold {
    font-weight: bold;
    margin: 10px
}

.monospaced {
    font-family: "Google Sans Code", monospace;
    margin-left: 4px;
}

.grid div.adv-btn-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.adv-btn {
    font-weight: 700;
    padding: 10px 16px;
    border: none;
    color: #ffffff;
    background-color: #4C8BF5;
    border-radius: 4px;
    size: 32px;
    border: 1px solid #2F7AEC;
}

.adv-btn:hover {
    background-color: #387DE9;
    border: 1px solid #2F5BB7;
}

